.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  width: max-content;
  text-align: center;
  margin: 60px auto;
}

.list {
  width: max-content;
  margin: 0 auto;
}

.user {
  margin-bottom: 13px;
}